---
import BaseLayout from '../../layouts/BaseLayout.astro';

// function with an array of page routes
export async function getStaticPaths() {
    const allPosts = await Astro.glob('../posts/*.md');
    return [
        { params: { tag: "astro" }, props: { posts: allPosts}},
        { params: { tag: "personal" }, props: { posts: allPosts}},
        { params: { tag: "community" }, props: { posts: allPosts} },
        { params: { tag: "blog" }, props: { posts: allPosts} },
    ];
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const filteredPosts = posts.filter((post) => post.frontmatter.tags?.includes(tag));
---
<BaseLayout pageTitle={tag}>
    <p>Posts tagged with {tag}</p>
    <ul>
        {filteredPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
    </ul>
</BaseLayout>