---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageClaim = "Great blog post!";
---
<BaseLayout pageClaim={pageClaim}>
	{pageClaim === null || pageClaim.trim() === "" && <h2>My awesome blog subtitle</h2>}
</BaseLayout>