---
import '../styles/global.css';

const pageHome = "Home";
const pageAbout = "About";
const pageBlog = "Blog";

---
<div class="nav-links">
<a href="/">{pageHome}</a>
<a href="/about/">{pageAbout}</a>
<a href="/blog/">{pageBlog}</a>
</div>